@font-face {
    font-family: title;
    src: url("../files/fonts/Cookie-Regular.ttf");
}
@font-face {
    font-family: subtitleReg;
    src: url("../files/fonts/AmaticSC-Regular.ttf");
}
@font-face {
    font-family: subtitleBold;
    src: url("../files/fonts/AmaticSC-Bold.ttf");
}
@font-face {
    font-family: paragraphe;
    src: url("../files/fonts/Roboto-Regular.ttf");
}